/* custom Navbar */
.navbar.bg-dark {
  background-color: #23120b !important;
}
/* pagenation */


.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  margin:auto;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

/* image */
.ImageCard {
  width: 100%;
  height: 200px;
  object-fit: cover;
  
  }
  .ImageDetail {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 400px;
  object-fit: cover;
  }

  .headerTitle{
    margin: 20px;
    
  }

  .todayCard {
    width: 100px;
    height: 100%;
    object-fit: cover;
    
    }